<% layout("/layouts/boilerplate") %>
<body>
    <br/><br/>
    <div class="row">
        <div class="col-8 offset-2">
    <h2>Create Account</h2>
    <form method="POST" action="/employeeHub"  class="needs-validation" enctype="multipart/form-data" novalidate>
        <div>
            <label for="name" class="form-label">Name</label>
            <input name="employee[name]" placeholder="Enter name" type="text" class="form-control" required/>
            <div class="invalid-feedback">Please enter valid name</div> 
        </div>

        <div>
            <label for="email" class="form-label">Email</label>
            <input name="employee[email]" placeholder="Enter email"  class="form-control" required/>
            <div class="invalid-feedback">Please enter valid email</div> 
        </div>

        <div>
            <label for="mobile" class="form-label">Mobile</label>
            <input name="employee[mobile]" placeholder="Enter mobile number"  class="form-control" required/>
            <div class="invalid-feedback">Please enter valid Mobile number</div> 
        </div>

        <div>
            <label for="designation" class="form-label">Designation</label>
           
            <select name="employee[designation]" class="form-control" required >
                <option value="HR">HR</option>
                <option value="Manager">Manger</option>
                <option value="Sales">Sales</option>
            </select>

           </div>
           <br/>
        
        <div>
            <label for="gender" class="form-label">Gender</label>
            <input name="employee[gender]" type="radio" value="Male"/>
            <label for="css" class="form-label">Male</label>
            <input name="employee[gender]" type="radio" value="Female"required/>
            <label for="css">Female</label>
        </div>
        
        <div>
            <label for="course" class="form-label">Course</label>
            <input name="employee[course]" type="checkbox" value="BCA"/>
            <label for="course">BCA</label>
            <input name="employee[course]" type="checkbox" value="MCA"/>
            <label for="course">MCA</label>
            <input name="employee[course]" type="checkbox" value="BSC"/>
            <label for="course">BSC</label>
           
        </div>

        <div>
            <label for="image" class="form-label">Upload Image</label>
            <input name="employee[image]" type="file" class="form-control"/>
        </div>
    
        <br/><br/>
        <button class="btn btn-success">Submit</button>
        <br/><br/>
    </form>
    </div>
    </div>
</body>
